In [1]:
import pandas as pd

# Read csv
df = pd.read_csv(r"C:\Muzna\Data Analytics\Data Analysis Projects\Medical Insurance Cost Analysis\insurance_clean.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  Southwest  16884.92400
1      18    male  33.770         1     no  Southeast   1725.55230
2      28    male  33.000         3     no  Southeast   4449.46200
3      33    male  22.705         0     no  Northwest  21984.47061
4      32    male  28.880         0     no  Northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  Northwest  10600.54830
1334   18  female  31.920         0     no  Northeast   2205.98080
1335   18  female  36.850         0     no  Southeast   1629.83350
1336   21  female  25.800         0     no  Southwest   2007.94500
1337   61  female  29.070         0    yes  Northwest  29141.36030

[1338 rows x 7 columns]

In [2]:
#Create new columns

df['bmi_category'] = pd.cut(
    df['bmi'],
    bins=[0,18.5,25,30,100],
    labels=['Underweight','Normal','Overweight','Obese']
)

df['age_group'] = pd.cut(
    df['age'],
    bins=[0,25,40,60,100],
    labels=['Young','Adult','Middle-aged','Senior']
)

In [3]:
df

,age,sex,bmi,children,smoker,region,charges,bmi_category,age_group
0,19,female,27.900,0,yes,Southwest,16884.92400,Overweight,Young
1,18,male,33.770,1,no,Southeast,1725.55230,Obese,Young
2,28,male,33.000,3,no,Southeast,4449.46200,Obese,Adult
3,33,male,22.705,0,no,Northwest,21984.47061,Normal,Adult
4,32,male,28.880,0,no,Northwest,3866.85520,Overweight,Adult
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,Northwest,10600.54830,Obese,Middle-aged
1334,18,female,31.920,0,no,Northeast,2205.98080,Obese,Young
1335,18,female,36.850,0,no,Southeast,1629.83350,Obese,Young
1336,21,female,25.800,0,no,Southwest,2007.94500,Overweight,Young
1337,61,female,29.070,0,yes,Northwest,29141.36030,Overweight,Senior

In [4]:
# Save cleaned data
df.to_csv("C:/Muzna/Data Analytics/Data Analysis Projects/Medical Insurance Cost Analysis/insurance_clean.csv", index=False)